@mixin background($color,$image:"") {
  background-color: $color;
  background-image: $image;
  background-repeat: no-repeat;
  background-position-y: 1px ;
  background-position-x: 90%;
  background-size: 20%;
}

@mixin size($width,$height) {
  width: $width;
  height: $height;
}
