@import "helpers";

@mixin background($color,$image:"") {
  background-color: $color;
  background-image: $image;
  background-repeat: no-repeat;

}

@mixin size($width,$height) {
  width: $width;
  height: $height;
}


@mixin display_flex($direction,$justifyContent:start) {
  display: flex;
  flex-direction: $direction;
  justify-content: get_justify($direction,$justifyContent )
}

@mixin media-mobile {
  @media only screen and (max-width: 450px) {
    @content;
  }
  
}