@import "mixins";

@include media-mobile {
  .report {
  .info {
    @include display_flex(row,space-evenly);
    row-gap: 0px;
    align-items: center;
    padding: 25px 0;
    img {
      width: 20%;
      margin: 0;
    }
    br {
      display:none;
    }
  }
  ul {
    @include display_flex(row,space-evenly);
    align-items: center;
    padding: 10px 0;
  }
}
}