@import "mixins";

@include media-mobile {
  .dashboard {
    width: 80%;
  }
  .report {
  .info {
    @include display_flex(row,space-evenly);
    row-gap: 0px;
    align-items: center;
    padding: 25px 0;
    img {
      width: 20%;
      margin: 0;
    }
    br {
      display:none;
    }
  }
  ul {
    @include display_flex(row,space-evenly);
    align-items: center;
    padding: 10px 0;
  }
}

.card-bg {
  padding-top: 20px;
  background-size: 20%;
  background-position-y: -2px;
}
.card-content {
  padding: 10% 0;

  .hours {
    margin-top: 10px;
    @include display_flex(row, space-between);
    p{
      margin-right: 10px;
    }
  }
}
}