
$bg:hsl(226, 43%, 10%);
$work:hsl(15, 100%, 70%);
$play:hsl(195, 74%, 62%);
$study:hsl(348, 100%, 68%);
$excercise:hsl(145, 58%, 55%);
$social:hsl(264, 64%, 52%);
$selfCare: hsl(43, 84%, 65%);
$report:hsl(246, 80%, 60%);
$primary:hsl(235, 46%, 20%)