@import 'variables';
@import 'config';
@import 'mixins';

main {
  @include size(100vw,100vh);
}

%radius {
  border-radius: 8px;
}

.dashboard {
  @include size(70%,80%);
  margin: 20% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  gap: 15px;


}

.report {
  @include background($report,"");
  @extend %radius;
  grid-row-start: 1;
  grid-row-end: 3;
  @include display_flex(column,space-between); 
  background-color: $primary;


  .info {
    height: 70%;
    background-color:$report ;
    @include display_flex(column);
    row-gap: 20px;
    padding-left: 10px;
    @extend %radius
  }
   img{
    border: 2px solid white;
    border-radius: 50%;
    width: 40%;
    margin-top: 10px;
  }
  span {
    color: white;
    font-size: 12px;
    font-weight: 300;
  }
  p {
    color:white;
    font-size: 15px;
    font-weight: 500;
  }
  ul{
    height: 30%;
    list-style:none;
    margin-left: 10px;
    margin-top: 0;
   @include display_flex(column,space-evenly);
    li {
      color:rgba(255,255,255,.5);
      font-size: 15px;
      transition: all .2s ease-in;
      &:hover {
        color: white;
        font-size: 20px
      }
    }

  }
}

.work-bg {
  @include background($work,url("/images/icon-work.svg"));
  @include display_flex(column-reverse);
  flex-direction: column-reverse;
  @extend %radius;

  .work {
    background-color: $primary;
    height: 80%;
    @extend %radius;

  }
}

