@import "variables";
@import "config";
@import "mixins";

main {
  @include size(100vw, 100%);
}

%radius {
  border-radius: 8px;
}

.dashboard {
  @include size(70%, 70%);
  margin: 10% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.report {
  @include background($report, "");
  @extend %radius;
  grid-row-start: 1;
  grid-row-end: 3;
  @include display_flex(column, space-between);
  background-color: $primary;
  padding-bottom: 5px;

  .info {
    height: 80%;
    background-color: $report;
    @include display_flex(column);
    row-gap: 15px;
    padding-left: 10px;
    padding-bottom: 20px;
    @extend %radius;
  }
  img {
    border: 2px solid white;
    border-radius: 50%;
    width: 40%;
    margin-top: 25px;
  }
  span {
    color: white;
    font-size: 12px;
    font-weight: 300;
     margin: 0;
  }
  p {
    color: white;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.5;
  
  }
  ul {
    height: 30%;
    list-style: none;
    margin-left: 10px;
    margin-top: 0;
    @include display_flex(column, space-evenly);
    li {
      color: rgba(255, 255, 255, 0.5);
      font-size: 15px;
      transition: all 0.2s ease-in;
      &:hover {
        color: white;
        font-size: 20px;
      }
    }
  }
}

.card-bg {
  @include display_flex(column-reverse);
  flex-direction: column-reverse;
  background-position-y: 5px ;
  background-position-x: 90%;
  background-size: 25%;
  @extend %radius;
  &.work-bg {
    @include background($work, url("/images/icon-work.svg"));
  }
  &.play-bg {
    @include background($play, url("/images/icon-play.svg"));
  }
  &.study-bg {
    @include background($study, url("/images/icon-study.svg"));
  }
  &.self-bg {
    @include background($selfCare, url("/images/icon-self-care.svg"));
  }
  &.ex-bg {
    @include background($excercise, url("/images/icon-exercise.svg"));
  }
  &.social-bg {
    @include background($social, url("/images/icon-social.svg"));
  }

  .card-content {
    background-color: $primary;
    height: 80%;
    @include display_flex(column,space-evenly);
    @extend %radius;
    h2{
      color: white;
      margin-left: 15px;
      font-weight: 400;
    }
    p{
      color: rgba(255, 255, 255, 0.5);
      margin-left: 15px
    }

    .card-header {
      @include display_flex(row,space-between);
      align-items: center;
      margin-top: 10px;
      p {
        color:white;
        margin-right:5px;
      }
      img {
        margin-right: 15px;
        cursor: pointer;
      }
    }
  }
  
}


@import "responsive";
