@import "variables";
@import "config";
@import "mixins";

main {
  @include size(100vw, 100vh);
}

%radius {
  border-radius: 8px;
}

.dashboard {
  @include size(70%, 80%);
  margin: 5% auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 15px;
}

.report {
  @include background($report, "");
  @extend %radius;
  grid-row-start: 1;
  grid-row-end: 3;
  @include display_flex(column, space-between);
  background-color: $primary;

  .info {
    height: 70%;
    background-color: $report;
    @include display_flex(column);
    row-gap: 20px;
    padding-left: 10px;
    @extend %radius;
  }
  img {
    border: 2px solid white;
    border-radius: 50%;
    width: 40%;
    margin-top: 10px;
  }
  span {
    color: white;
    font-size: 12px;
    font-weight: 300;
  }
  p {
    color: white;
    font-size: 15px;
    font-weight: 500;
  }
  ul {
    height: 30%;
    list-style: none;
    margin-left: 10px;
    margin-top: 0;
    @include display_flex(column, space-evenly);
    li {
      color: rgba(255, 255, 255, 0.5);
      font-size: 15px;
      transition: all 0.2s ease-in;
      &:hover {
        color: white;
        font-size: 20px;
      }
    }
  }
}

.card-bg {
  @include display_flex(column-reverse);
  flex-direction: column-reverse;
  @extend %radius;
  &.work-bg {
    @include background($work, url("/images/icon-work.svg"));
  }
  &.play-bg {
    @include background($work, url("/images/icon-play.svg"));
  }
  &.study-bg {
    @include background($work, url("/images/icon-study.svg"));
  }
  &.self-bg {
    @include background($work, url("/images/icon-self-care.svg"));
  }
  &.ex-bg {
    @include background($work, url("/images/icon-exercise.svg"));
  }
  &.social-bg {
    @include background($work, url("/images/icon-social.svg"));
  }

  .card-content {
    background-color: $primary;
    height: 80%;
    @extend %radius;
  }
}
